html{
	background-color: rgb(240,240,240);
}	
#top {
	height: 200px;
    width: 100%;
    /*background-color: rgba(220,220,220,0.5);*/
    background-image: url('kaigari.png');
    opacity: 0.3;
    background-size: 100%;
}
#Hello{
	position:absolute;
	right:80px;
	top:50px;
	font-family:comic-sans-ms;
	font-size:19px;
}
.SignIn{
	background-color: rgb(255,100,20);
}
#PreviousOrdersRedirect{
	position: relative;
	width: 200px;
	left:600px;
	top:60px;
}
#PendingOrdersRedirect{
	position: relative;
	width:200px;
	left:190px;
	top:60px;
}
#HomeRedirect{
	position: relative;
	width:200px;
	left:-220px;
	top:60px;
}
#box{
	
}
#searchIcon{
	height:30px;
	width:30px;
}
#search{
	position: absolute;
	left:30%;
	top:55px;
}
#icon{
	position:relative;
	left:355px;
}
#Khaopic{
	position: absolute;
	left:-300px;
	top :-20px;
	border-radius:13px;
}
#searchText{
	width:300px;
	height:15px;
	position:relative;
	padding: 9px;
	left:30px;
	top:-40px;
    border: 2px solid;
    border-radius: 25px;
    border-color: rgb(200,200,255);
}	
#currentMenuHeading{
	font-size:23px;
	font-weight: 500;
	position: relative;
	font-family: Comic-Sans-MS;
	top:30px;
}
#currentable{
	position: relative;
	top:40px;
}
#AddHeading{
	position: relative;
	top:110px;
	left:10px;
	font-size: 22px;
	font-family: Comic;
}
#inputName{
	position: relative;
	top:90px;
	width:300px;
	left:80px;
}
#inputCost{
	position: relative;
	top:60px;
	width:300px;
	left:80px;
}
#askName{
	position: relative;
	top:130px;
	left:10px;
}
#askCost{
	position: relative;
	top:100px;
	left:10px;
}
#addButton{
	position: relative;
	top:140px;
	left:-295px;
}
body{
	height:1000px;
}